.root {
  position: relative;
  flex: 1;
}

.title {
  font-weight: bold;
  font-size: 1.5em;
}

.movie {
  background: white;
  display: flex;
  margin-bottom: 1em;

  &:last-child {
    margin-bottom: 0;
  }
}

.description {
  padding: 1em;
}

.poster {
  width: 20em;
  background: black;
}

.name {
  font-weight: bold;
}
