.root {
  display: flex;
  min-height: 100vh;
}

.container {
  min-height: 100%;
  flex: 1;
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
}
