.root {
  margin-bottom: 1em;

  &:last-child {
    margin-bottom: 0;
  }
}

.content {
  display: flex;
  align-items: flex-start;
}

.description {
  padding: 1em;
}

.name {
  font-weight: bold;
}
